@use "assets/scss/typography";
@use "assets/scss/colors";

body {
  font-family: typography.$font-primary;
  font-weight: typography.$weight-regular;
  color: colors.$color-tertiary;
  background-color: #070d19;
}

*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
