<ng-content></ng-content>
<ul class="pagination">
  <div class="pagination-stats" *ngIf="showStats">
    <p class="showing">Showing {{ pageItems }} items from {{ totalItems }} available</p>
  </div>
  <div class="pagination-nav">
    <li
    (click)="changePage(currentPage - 1)"
    class="previous-page"
    [class.disabled]="currentPage === 1"
    >Previous</li>
    <li
    *ngFor="let page of visiblePages"
    (click)="changePage(page)"
    class="page-link"
    [class.active]="page === currentPage"
    >{{ page }}</li>
    <li
    (click)="changePage(currentPage + 1)"
    class="next-page"
    [class.disabled]="currentPage === totalPages"
    >Next</li>
  </div>
</ul>