@use "src/assets/scss/colors";
@use "src/assets/scss/typography";
@use "src/assets/scss/breakpoints";

.content {
  padding: 25px;

  .title {
    margin-bottom: 15px;
    font-size: 1.25rem;
  }

  .table-wrapper {
    padding: 24px;
    border: 1px solid colors.$color-secondary;
    border-radius: 5px;
    background-color: colors.$color-primary;

    .table {
      display: flex;
      flex-direction: column;
      overflow-x: auto;

      tr {
        cursor: pointer;
        display: flex;
        border-bottom: 1px solid colors.$color-secondary;

        th {
          flex: 1;
          padding: 0.85rem;
          display: flex;
          justify-content: flex-start;
          color: colors.$color-primary-light;
          font-size: 0.75rem;
          font-weight: typography.$weight-medium;
          text-transform: uppercase;
        }

        @include breakpoints.tablet {
          width: calc(155px * 5);

          th {
            flex-basis: 155px;
            flex-shrink: 0;
            flex-grow: 0;
          }
        }

        td {
          flex: 1;
          padding: 0.85rem;
          display: flex;
          justify-content: flex-start;
          font-size: 0.9rem;

          @include breakpoints.tablet {
            flex-basis: 155px;
            flex-shrink: 0;
            flex-grow: 0;
          }
        }
      }

      tr:nth-child(1) {
        cursor: default;
      }
    }
    .exchanges-modal {
      display: flex;
      flex-direction: column;
      padding: 25px;
      background-color: colors.$color-primary;
      border: 1px solid colors.$color-secondary;
      border-radius: 5px;
      height: 80%;
      width: 80%;

      .heading {
        display: flex;
        justify-content: space-between;

        .title {
          margin-bottom: 10px;
        }

        .close {
          width: 24px;
          filter: invert(94%) sepia(4%) saturate(683%) hue-rotate(185deg)
            brightness(93%) contrast(88%);
          cursor: pointer;
        }
      }

      @include breakpoints.mobile {
        height: 90%;
        width: 90%;
      }

      .modal-table {
        display: flex;
        flex-direction: column;
        overflow: auto;

        tr {
          cursor: default;
          display: flex;
          border-bottom: 1px solid colors.$color-secondary;

          th {
            flex: 1;
            padding: 0.85rem;
            display: flex;
            justify-content: flex-start;
            color: colors.$color-primary-light;
            font-size: 0.75rem;
            font-weight: typography.$weight-medium;
            text-transform: uppercase;
          }

          td {
            flex: 1;
            padding: 0.85rem;
            display: flex;
            justify-content: flex-start;
            font-size: 0.9rem;
            text-transform: capitalize;
          }

          th:nth-child(1),
          td:nth-child(1) {
            flex: 0 0 50px;
          }

          @include breakpoints.tablet {
            width: 500px;

            th,
            td {
              flex: 0 0 150px;
            }

            th:nth-child(1),
            td:nth-child(1) {
              flex-basis: 50px;
            }
          }
        }

        tr:nth-last-child(1) {
          td:nth-child(3) {
            color: colors.$color-danger;
          }
        }
        tr:nth-child(2) {
          td:nth-child(3) {
            color: colors.$color-success;
          }
        }
      }
    }
  }
}
