<main class="content">
  <div class="table-wrapper">
    <h4>Last update: {{ getLastUpdateDate() | date:'s'}} seconds ago</h4>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Difference %</th>
        <th>Lowest Price</th>
        <th>Highest Price</th>
        <th>Difference $</th>
      </tr>
      <tr *ngFor="let currency of (data$ | async)?.currencies">
        <td>{{ currency.name}}</td>
        <td>{{ currency.differences.percentage.toFixed(4)}}%</td>
        <td>${{ currency.differences.lowest.toFixed(6)}}</td>
        <td>${{ currency.differences.highest.toFixed(6)}}</td>
        <td>${{ currency.differences.price.toFixed(6)}}</td>
      </tr>
    </table>
  </div>
</main>
